* {
    margin: 0;
    padding 0;
}

/*
@font-face {
    font-family: "roboto";
    src: url('fonts/Roboto.ttf') format('ttf');
}
*/

#left-screen {
    font-family: Roboto, Arial, sans-serif;
    float: left;
    width: 40%;
    height: 100vh;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.uni-description {
    margin: 30px;
}


#app-version {
    color: #e9541d;
    margin-top: 100px;
}

#right-screen {
    float: right;
    width: 60%;
    height: 100vh;
    background-color: #4368e1;
    color: white;
}

#student-login-h3 {
    display: inline-block;
    margin-left: 10%;
    margin-top: 15%;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
    padding-left: 300px;
    padding-right: 310px;
}

#server-info {
    display: inline-block;
    margin-left: 29%; 
    padding-top: 20px;
    color: #f6fa07;
    font-size: 15px;
    font-weight: bold;
}

#login-center {
    margin: 5% 10% 10% 10%;
    display: grid;
    grid-template-columns: 150px 1fr; /* label in first column, input in second */ gap: 40px 20px;
    align-items: center;
}

#username, #pwd {
    height: 30px; 
}

#uet-lahore-img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
}

#show-password {
    display: relative;
    margin-left: 78%;
}

#login-bottom, #login-center {
    font-size: 12px;
    font-weight: bold;
}

#login-button {
    background-color: #e9541d;
    border: 1px solid white;
    display: relative;
    margin-left: 80%;
    color: white;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    margin-top: 5%;
}
